
#Columns {
    overflow-x: visible;
    display: inline;    
}

.container {
    margin: 20px;
    display: inline;
    float: left;
    padding: 0px;
    width: 300px;
    background-color: #68a0f9;
    border-radius: 5px;
}