.Columns {
  flex-wrap: nowrap;
  display: flex;
  overflow-x: scroll;
  margin-left: 20px;
  margin-right: 20px;
}
.container {
    flex: 0 0 300px;
    height: fit-content;
    margin: 20px;
    padding: 0px;
    float:left;
    margin-top:80px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    vertical-align: top;
}
