.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    height: 36pt;
    text-align: right;
}

li {
    display: inline;
    margin: 0;
}

.nav_button {
    color: black;
    background-color: grey;
    text-decoration: none;
    font-size: 18pt;
    padding-right: 12pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    margin: 0;
    border: none;
}

    .nav_button:hover, .nav_button:active {
        color: darkslategrey;
        background-color: lightblue;
        text-decoration: none;
        font-size: 18pt;
        padding-right: 12pt;
        padding-top: 5pt;
        padding-bottom: 5pt;
        margin: 0;
    }

.sign_out_button {
    background-color: grey;
    padding-top: 14pt;
    padding-bottom: 9pt;
    padding-right: 6pt;
    margin: 0;
}
