.flex_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.pmt_lonely {
    flex: 0 0 100%;
    overflow-y: scroll;
    height: 94vh;
}

.pmt_component {
    flex: 0 0 75%;
    overflow-y: scroll;
    height: 94vh;
    padding: 0;
    margin: 0;
}

.chat_component {
    flex: 0 0 25%;
    background-color: lightgrey;
    padding: 0;
    margin: 0;
}
