
.Add-btn {
    border: none;
    background-color: inherit;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    outline:none;
    width: 100%;
}

.Add-btn:hover {
    text-decoration: underline;
    background-color: grey;
    border-radius: 10px;      
}

.column {
    margin-top: 0px;
}

.cancelBtn {
    background-color: red;
}


.AddFooter {
    margin-left: 10px;
    margin-right: 10px;
}