.IssueCard {
    /* padding:10px 10px 38px 34px; */
    padding: 10px;
    height: 300px; 
    margin: 40px;
    margin-bottom: 8px;
    width: 600px;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    color: #222;
    background-color: #eed; 
    border-radius: 3px;
    box-shadow: 43x 3px 2px #333;
    opacity: 1;
  }

  .IssueCard h5 {
    margin: 0px;
    text-align: left;
  }
  .IssueCard p{
    margin: 0px;
    text-align: left;
  }

  .horizontal-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }