
#Add.btn {
    border: none;
    background-color: inherit;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    outline:none;
    width: 100%;
}

#Add.btn:hover {
    text-decoration: underline;
    background-color: grey;
    border-radius: 10px;      
}

#columncard.card {
    margin-top: 10px;
}

.AddFooter {
    margin-left: 10px;
    margin-right: 10px;
}