
#Add.btn {
    border: none;
    background-color: inherit;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    outline:none;
    width: 100%;
}

#Add.btn:hover {
    text-decoration: underline;
    background-color: lightgrey;
    border-radius: 10px;      
}

#columncard.card {
    padding-top: 10px;
    color: black;
    font-size: 15px;
}

.AddFooter {
    margin-left: 10px;
    margin-right: 10px;
}

.card-title {
    color: white;
    font-size: 20px;
    font-family: "Lato"
}